<div class="container text-center" style="max-width: 300px; margin: auto">
    <form [formGroup]="formSubmit" class="form-signin" (ngSubmit)="submit()">
        <h1 class="h3 mb-3">User Profile</h1>
        <input type="firstName" formControlName="inputFirstName" class="form-control" placeholder="First Name">
        <label class="alert alert-danger" *ngIf="!this.formSubmit.controls.inputFirstName.valid && this.formSubmit.controls.inputFirstName.touched">First Name Required</label>
        
    </form>
    
</div>